<!DOCTYPE html>
<html>
<head>
  <title>SimpleBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "layouts/navigation"%>
<div class="container">
  <p class="notice"><%=notice%></p>
  <p class="alert"><%=alert%></p>
  <div class="container-fluid"></div>
<%= yield %>
</div>
<%#= debug(params) if Rails.env.development? %>
<%#= debug(controller) if Rails.env.development? %>
<%#= debug(request) if Rails.env.development? %>
<%#= debug(response) if Rails.env.development? %>
</body>
</html>
